<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="dashboard">Dashboard</a>
        </li>
    </ul>
</div>
<h3 class="page-title"> Dashboard </h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">
    <!-- BEGIN DASHBOARD STATS -->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number"> {{info.nominal_issued | currency:"USD$"}} mm</div>
                    <div class="desc">Nominal Issued</div>
                </div>
                <a class="more" href="#/graph/historic/na/na"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number"> {{info.total_nav | currency:"USD$"}} mm</div>
                    <div class="desc">Total Funded</div>
                </div>
                <a class="more" href="#/graph/historic/na/na"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number"> {{info.series_issued}} </div>
                    <div class="desc">Total Series</div>
                </div>
                <a class="more" href="#/manage/series_product_information"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number"> {{info.number_of_transactions}} </div>
                    <div class="desc">Number of Transactions</div>
                </div>
                <a class="more" href="#/manage/citi_all_transactions"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- END DASHBOARD STATS -->
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-settings font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Issuance Summary</span>
                    </div>
                    <div class="actions">
                        <button class="btn dark btn-outline a btn-circle btn-sm toggle"
                                name="options" ng-click="filterByPeriod('YTD')">
                            YTD
                        </button>
                        <button class="btn dark btn-outline btn-circle btn-sm toggle"
                                name="options" ng-click="filterByPeriod('TTW')">
                            TTM
                        </button>
                        <button class="btn dark btn-outline btn-circle btn-sm toggle"
                                name="options" ng-click="filterByPeriod('All')">
                            All
                        </button>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="chart_1" class="chart" style="height: 260px;"> </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-red"></i>
                        <span class="caption-subject font-red bold uppercase">Regional Activity</span>
                    </div>
                    <div class="actions">
                        <button class="btn dark btn-outline btn-circle btn-sm toggle"
                                name="options" ng-click="filterByType('All')">
                            All
                        </button>
                        <button class="btn dark btn-outline btn-circle btn-sm toggle"
                                name="options" ng-click="filterByType('Fund')">
                            Funds
                        </button>
                        <button class="btn dark btn-outline btn-circle btn-sm toggle"
                                name="options" ng-click="filterByType('Wrapper')">
                            Wrappers
                        </button>
                        <button class="btn dark btn-outline btn-circle btn-sm toggle"
                                name="options" ng-click="filterByType('Loan')">
                            Loans
                        </button>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr class="uppercase">
                                    <th> Region </th>
                                    <th> Nominal Issued </th>
                                    <th> Nominal Active </th>
                                    <th> Funded </th>
                                    <th> Series Issued </th>
                                    <th> # of Transactions </th>
                                </tr>
                            </thead>
                            <tr ng-repeat="row in regional | filter:type">
                                <td>{{row.region}}</td>
                                <td>{{row.nominal_issued | currency:"$"}}</td>
                                <td>{{row.nominal_outstanding | currency:"$"}}</td>
                                <td>{{row.total_nav | currency:"$"}}</td>
                                <td>{{row.series_issued}}</td>
                                <td>{{row.number_of_transactions}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
</div>