<div class="modal-body">
    <!-- BEGIN PAGE HEADER-->
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject font-dark sbold uppercase">{{info.table_comment}}</span>
            </div>
        </div>
        <div class="portlet-body form" ng-if="type == 'edit' || type == 'interest_invoice'">
            <form class="form-horizontal" role="form">
                <div class="form-body row">
                    <div class="form-group col-md-12" ng-repeat="field in fields" ng-switch on="field.type">
                        <label class="col-md-5 control-label">{{field.label}}</label>
                        <div class="col-md-3">
                            <input style="width: 300px" ng-switch-when='varchar' placeholder="{{field.label}}" type="text" class="form-control input-inline" ng-model="input[field.name]">
                            <input style="width: 300px" ng-switch-when='email' placeholder="{{field.label}}" type="email" class="form-control input-inline" ng-model="input[field.name]">
                            <input style="width: 300px" ng-switch-when='tel' placeholder="{{field.label}}" type="tel" class="form-control input-inline" ng-model="input[field.name]">
                            <input style="width: 300px" ng-switch-when='password' placeholder="{{field.label}}" type="password" class="form-control input-inline" ng-model="input[field.name]">
                            <textarea style="width: 300px" ng-switch-when='text' placeholder="{{field.label}}"  class="form-control" ng-model="input[field.name]"></textarea>
                            <div style="width: 300px" ng-switch-when='date'>
                                <div class="input-group" moment-picker="input[field.name]" format="YYYY-MM-DD">
                                    <input class="form-control" ng-model="input[field.name]" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                            <input style="width: 300px" ng-switch-when='number' type="number" class="form-control input-inline" ng-model="input[field.name]">
                            <input style="width: 300px" ng-switch-when='double' type="number" step="0.01" class="form-control input-inline" ng-model="input[field.name]">
                            <select ng-switch-when='enum' class="form-control input-inline" ng-model="input[field.name]">
                                <option ng-repeat="option in field.options" value="{{option}}">{{option}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-5 col-md-12">
                            <button ng-click="submit(input, table)" class="btn green">Submit</button>
                            <button ng-click="cancel()" class="btn grey">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="portlet-body form" ng-if="type == 'view'">
            <form class="form-horizontal" role="form">
                <div class="form-body row">
                    <div class="form-group col-md-12" ng-repeat="field in fields" ng-switch on="field.type">
                        <label class="col-md-5 control-label">{{field.label}}</label>
                        <div class="col-md-3">
                            <input style="width: 300px" ng-switch-when='varchar' placeholder="{{field.label}}" type="text" class="form-control input-inline" ng-model="input[field.name]" disabled>
                            <input style="width: 300px" ng-switch-when='email' placeholder="{{field.label}}" type="email" class="form-control input-inline" ng-model="input[field.name]" disabled>
                            <input style="width: 300px" ng-switch-when='tel' placeholder="{{field.label}}" type="tel" class="form-control input-inline" ng-model="input[field.name]" disabled>
                            <input style="width: 300px" ng-switch-when='password' placeholder="{{field.label}}" type="password" class="form-control input-inline" ng-model="input[field.name]" disabled>
                            <textarea style="width: 300px" ng-switch-when='text' placeholder="{{field.label}}"  class="form-control" ng-model="input[field.name]" disabled></textarea>
                            <div style="width: 300px" ng-switch-when='date' disabled>
                                <div class="input-group" moment-picker="input[field.name]" format="YYYY-MM-DD">
                                    <input class="form-control" ng-model="input[field.name]" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                            <input style="width: 300px" ng-switch-when='number' type="number" class="form-control input-inline" ng-model="input[field.name]" disabled>
                            <input style="width: 300px" ng-switch-when='double' type="number" step="0.01" class="form-control input-inline" ng-model="input[field.name]" disabled>
                            <select ng-switch-when='enum' class="form-control input-inline" ng-model="input[field.name]" disabled>
                                <option ng-repeat="option in field.options" value="{{option}}">{{option}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-5 col-md-12">
                            <button ng-click="cancel()" class="btn grey">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="portlet-body table" ng-if="type == 'table'">
            <h5 ng-if="data.length == 0"> No transactions available for this period</h5>
            <h3 ng-if="data.length > 0"> New Advances </h3>
            <table style ="overflow: auto" class="table table-striped table-bordered table-hover order-column" ng-if="data.length > 0">
                <thead>
                <tr role="row" class="heading" >
                    <th width="14%" ng-repeat="field in fields">
                        <a ng-click="sort(field.name)">
                            {{field.label}}&nbsp;
                        </a>
                    </th>
                    <th width="5%" ng-if="query_name == 'interest_calculation'">Details</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in data" id="exportable">
                    <td ng-repeat="field in fields"
                        ng-if="field.label"
                        ng-switch on="field.type">
                        <h5 ng-switch-when='date'>
                            {{row[field.name] | date }}
                        </h5>
                        <h5 ng-switch-when='varchar'>
                            {{row[field.name] | limitTo: 50}}
                        </h5>
                        <h5 ng-switch-when="currency">
                            {{row[field.name] | currency}}
                        </h5>
                        <h5 ng-switch-when="number">
                            {{row[field.name] | number}}
                        </h5>
                        <h5 ng-switch-when="percentage">
                            {{row[field.name] * 100 | number:2}}%
                        </h5>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</div>



