<div ng-controller="ManageController">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a ui-sref="dashboard">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a ui-sref="dashboard">Manage</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a ui-sref="dashboard">{{info.table_comment}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <!-- Begin: life time stats -->
            <div class="portlet light portlet-fit portlet-datatable bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings"></i> Manage {{info.table_comment}}
                    </div>
                    <div class="actions">
                        <a href="#/add/{{table}}" class="btn btn-outline green" ng-if="userType != 'Theorem' && userType != 'Management' && userType != 'Trustee'">
                            <i class="fa fa-plus"></i>
                            <span class="hidden-480"> New Entry </span>
                        </a>
                        <div class="btn-group">
                            <a class="btn red btn-outline" href="#" data-toggle="dropdown">
                                <i class="fa fa-share"></i>
                                <span class="hidden-480"> Tools </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="" ng-click="exportExcel(table)"> <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                </li>
                                <li ng-if="userType == 'Accounting' || userType == 'Operations' || userType == 'Admin'">
                                    <a href="" ng-click="calcMaintenanceFees()"> <i class="fa fa-calculator"></i> Calculate Maintenance Fees </a>
                                </li>
                                <li ng-if="userType == 'Accounting' || userType == 'Operations' || userType =='Admin'">
                                    <a href="" ng-click="sendMaintenanceFeesInvoices()"> <i class="fa fa-paper-plane-o"></i> Send Invoices</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-container">
                        <div class="col-md-8 col-sm-12">
                            <div class="dataTables_paginate paging_bootstrap_extended">
                                <div class="pagination-panel"> Page
                                    <a href="" ng-click="previousPage(page)" class="btn btn-sm default prev">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                    <input class="pagination-panel-input form-control input-sm input-inline input-mini"
                                           maxlenght="5" style="text-align:center; margin: 0 5px;" type="text" ng-model="page">
                                    <a href="" ng-click="nextPage(page, numberPages)" class="btn btn-sm default next">
                                        <i class="fa fa-angle-right"></i>
                                    </a> of
                                    <span class="pagination-panel-total">{{numberPages}}</span>
                                    <label><span class="seperator">|</span>
                                        View
                                        <select class="form-control input-xs input-sm input-inline" ng-model="rowsShowing" ng-change="filterChange(rowsShowing)">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="200">200</option>
                                        </select> records
                                    </label>
                                    <span class="seperator">|</span> Found total {{size}} records

                                </div>
                            </div>
                        </div>
                        <div ng-if="type == 'trading' && table != 'citi_available_position'" class="col-md-4 col-sm-12">
                            <div class="table-group-actions pull-right">
                                <span></span>
                                <select class="table-group-action-input form-control input-inline input-small input-sm" ng-model="valueFilter">
                                    <option value="All"> All...</option>
                                    <option value="pending_legal">Pending Legal</option>
                                    <option value="pending_wires">Pending Wires</option>
                                    <option value="completed">Completed</option>
                                </select>
                                <button class="btn btn-sm green table-group-action-submit" ng-click="filter(valueFilter)">
                                    <i class="fa fa-check"></i>Filter
                                </button>
                            </div>
                        </div>

                        <table style ="overflow: auto" class="table table-striped table-bordered table-hover order-column">
                            <thead>
                            <tr role="row" class="heading" >
                                <th width="1%"> </th>
                                <th width="14%" ng-repeat="field in fields">
                                    <a ng-click="sort(field.name)">
                                        {{field.label}}&nbsp;
                                    </a>
                                </th>
                                <th width="5%" ng-if="type == 'trading' && table != 'citi_available_position'" nowrap="">
                                    Cpt. Key
                                </th>
                                <th width="14%">
                                    Actions
                                </th>
                            </tr>
                            <tr role="row" class="filter">
                                <td></td>
                                <td ng-repeat="field in fields">
                                    <div ng-if='field.type == "date"'>
                                        <div class="input-group" moment-picker="t[field.name].from" format="YYYY-MM-DD">
                                            <input class="form-control" placeholder="From" ng-model="t[field.name].from" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                        <div class="input-group" moment-picker="t[field.name].to" format="YYYY-MM-DD">
                                            <input class="form-control" placeholder="To" ng-model="t[field.name].to" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                    <select ng-if='field.type == "enum"' class="form-control input-inline" ng-model="t[field.name]">
                                        <option ng-repeat="option in field.options" value="{{option}}">{{option}}</option>
                                    </select>
                                    <input ng-if='field.type != "date" && field.type != "enum"' type="text" class="form-control form-filter input-sm" ng-model="t[field.name]">
                                </td>
                                <td ng-if="type == 'trading' && table != 'citi_available_position'" style="width: 8%">
                                    <button class="btn btn-sm green filter-submit margin-bottom" ng-click="uploadCounterparties(data)" ng-if="userType != 'Theorem' && userType != 'Management' && userType != 'Trustee'">
                                        <i class="fa fa-plus"></i> Upload
                                    </button>
                                </td>
                                <td>
                                    <div class="margin-bottom-5">
                                        <button style="width: 75px" class="btn btn-sm yellow filter-submit margin-bottom" ng-click="search(t, fields)">
                                            <i class="fa fa-search"></i> Search
                                        </button>
                                        <button style="width: 75px" class="btn btn-sm red filter-cancel" ng-click="reset()">
                                            <i class="fa fa-times"></i> Reset
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in data" id="exportable">
                                    <td></td>
                                    <td ng-repeat="field in fields"
                                        ng-if="field.label"
                                        ng-switch on="field.type"
                                        ng-class="{warning: row.wire_confirm == 0 && row.legal_confirm == 1, danger: row.wire_confirm == 0 && row.legal_confirm == 0}">
                                        <h5 ng-switch-when='date'>
                                            {{row[field.name] | date }}
                                        </h5>
                                        <h5 ng-switch-when='varchar'>
                                            <div ng-if="field.name == 'issue_name'">
                                                {{row[field.name] | limitTo: 10}}
                                            </div>
                                            <div ng-if="field.name != 'issue_name'">
                                                {{row[field.name] | limitTo: 50}}
                                            </div>
                                        </h5>
                                        <h5 ng-switch-when='enum'>
                                            {{row[field.name] | limitTo: 25}}
                                        </h5>
                                        <h5 ng-switch-when="currency">
                                            {{row[field.name] | currency}}
                                        </h5>
                                        <h5 ng-switch-when="number">
                                            {{row[field.name] | number}}
                                        </h5>
                                        <h5 ng-switch-when="percentage">
                                            {{row[field.name] * 100 | number:2}}%
                                        </h5>
                                    </td>
                                    <td ng-if="type == 'trading' && userType != 'Theorem' && userType != 'Management' && userType != 'Trustee'">
                                        <input type="text"
                                               ng-model="row.counterparty_id"
                                               uib-typeahead="counterparty as counterparty.counterparty_key for counterparty in counterparties | filter:{counterparty_key:$viewValue}"
                                               class="form-control input-sm"
                                               placeholder="Cpt. Key"
                                               typeahead-show-hint="true"
                                               typeahead-min-length="0"
                                               >
                                    </td>
                                    <td ng-if="type == 'trading' && (userType == 'Theorem' || userType == 'Management' || userType == 'Trustee')">
                                        <h5>
                                            {{row.counterparty_id}}
                                        </h5>
                                    </td>
                                    <td ng-if="type == 'normal' && userType != 'Theorem' && userType != 'Management' && userType != 'Trustee'">
                                        <button style="width: 33px" class="btn btn-sm blue" ng-click="details(row, 'edit')"><i class="fa fa-cogs"></i></button>
                                        <button style="width: 33px" class="btn btn-sm red margin-bottom" ng-click="deleteRow(row)"><i class="fa fa-times"></i></button>
                                    </td>
                                    <td ng-if="type == 'trading' && userType != 'Theorem' && userType != 'Management' && userType != 'Trustee'" style="white-space:nowrap">
                                        <a href=""
                                           style="width: 50px"
                                           ng-if="row.legal_confirm == 0 && (table == 'citi_unsettled_transactions' || table == 'citi_all_transactions')"
                                           class="btn btn-sm grey margin-bottom"
                                           ng-click="confirm(row, 'legal_confirm')"
                                           ng-class="{disabled: userType == 'Trading'}"
                                        >
                                            Legal
                                        </a>
                                        <a href=""
                                           style="width: 50px"
                                           ng-if="row.legal_confirm == 1 && (table == 'citi_unsettled_transactions' || table == 'citi_all_transactions')"
                                           class="btn btn-sm white margin-bottom"
                                           ng-click="confirm(row, 'legal_confirm')"
                                           ng-class="{disabled: userType == 'Trading'}"
                                        >
                                            <i class="fa fa-check-circle"></i>
                                        </a>
                                        <a href=""
                                           style="width: 50px"
                                           ng-if="row.wire_confirm == 0 && table == 'citi_all_transactions'"
                                           class="btn btn-sm grey margin-bottom"
                                           ng-click="confirm(row, 'wire_confirm')"
                                           ng-class="{disabled: userType == 'Operations'}"
                                        >
                                            Wire
                                        </a>
                                        <a href=""
                                           style="width: 50px"
                                           ng-if="row.wire_confirm == 1 && table == 'citi_all_transactions'"
                                           class="btn btn-sm white margin-bottom"
                                           ng-click="confirm(row, 'wire_confirm')"
                                           ng-class="{disabled: userType == 'Operations'}"
                                        >
                                            <i class="fa fa-check-circle"></i>
                                        </a>
                                        <button class="btn btn-sm white" ng-click="details(row, 'view')">Details</button>
                                    </td>
                                    <td ng-if="userType == 'Theorem' || userType == 'Management' || userType == 'Trustee'">
                                        <button class="btn btn-sm white" ng-click="details(row, 'view')">Details</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-md-8 col-sm-12">
                            <div class="dataTables_paginate paging_bootstrap_extended">
                                <div class="pagination-panel"> Page
                                    <a href="" ng-click="previousPage(page)" class="btn btn-sm default prev">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                    <input class="pagination-panel-input form-control input-sm input-inline input-mini"
                                           maxlenght="5" style="text-align:center; margin: 0 5px;" type="text" ng-model="page">
                                    <a href="" ng-click="nextPage(page, numberPages)" class="btn btn-sm default next">
                                        <i class="fa fa-angle-right"></i>
                                    </a> of
                                    <span class="pagination-panel-total">{{numberPages}}</span>
                                    <label><span class="seperator">|</span>
                                        View
                                        <select class="form-control input-xs input-sm input-inline" ng-model="rowsShowing" ng-change="filterChange(rowsShowing)">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="200">200</option>
                                        </select> records
                                    </label>
                                    <span class="seperator">|</span> Found total {{size}} records
                                </div>
                            </div>
                        </div>
                        <h5>.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
