<div ng-controller="ReportingController">
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a ui-sref="dashboard">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a ui-sref="dashboard">Quarterly Reporting</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a ui-sref="dashboard">{{tab}}</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <!-- Begin: life time stats -->
            <div class="portlet light portlet-fit portlet-datatable bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings"></i> Quarterly Reporting {{tab}}

                    </div>
                    <div class="actions">
                        <div class="input-group pull-right">
                            <input type="text" class="form-control form-inline form-filter input-sm" ng-model="searchWord" placeholder="Search...">
                        </div>
                        <div class="btn-group btn-group-devided">
                            <a href="#/reporting/series" class="btn blue btn-outline" ng-class="{active : tab == 'series'}">Series</a>
                            <a href="#/reporting/isin" class="btn blue btn-outline" ng-class="{active : tab == 'isin'}">ISIN</a>
                            <a href="#/reporting/non_isin" class="btn blue btn-outline" ng-class="{active : tab == 'non-isin'}">Non-ISIN</a>
                            <a href="#/reporting/equity" class="btn blue btn-outline" ng-class="{active : tab == 'equity'}">Equity</a>
                            <a class="btn red btn-outline" href="#" data-toggle="dropdown">
                                <i class="fa fa-share"></i>
                                <span class="hidden-480"> Tools </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="" ng-click="exportExcel(table)"> Export to Excel </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-container">
                        <div class="col-md-8 col-sm-12">
                            <div class="dataTables_paginate paging_bootstrap_extended">
                                <div class="pagination-panel"> Page
                                    <a href="" ng-click="previousPage(page)" class="btn btn-sm default prev">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                    <input class="pagination-panel-input form-control input-sm input-inline input-mini"
                                           maxlenght="5" style="text-align:center; margin: 0 5px;" type="text" ng-model="page">
                                    <a href="" ng-click="nextPage(page, numberPages)" class="btn btn-sm default next">
                                        <i class="fa fa-angle-right"></i>
                                    </a> of
                                    <span class="pagination-panel-total">{{numberPages}}</span>
                                    <label><span class="seperator">|</span>
                                        View
                                        <select class="form-control input-xs input-sm input-inline" ng-model="rowsShowing" ng-change="filterChange(rowsShowing)">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="200">200</option>
                                        </select> records
                                    </label>
                                    <span class="seperator">|</span> Found total {{size}} records
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div style="overflow-x: scroll; width: 100%">
                                <table class="table table-responsive table-striped table-bordered table-hover" style="white-space: nowrap;">
                                    <thead>
                                    <tr role="row" class="heading" >
                                        <th width="1%">
                                        </th>
                                        <th ng-repeat="field in fields">
                                            <a ng-click="sort(field.name)">
                                                {{field.label}}&nbsp;
                                            </a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in data | filter:searchWord" id="exportable">
                                        <td></td>
                                        <td ng-repeat="field in fields" ng-if="field.label" ng-switch on="field.type">
                                            <h5 ng-switch-when='date'>
                                                {{row[field.name] | date }}
                                            </h5>
                                            <h5 ng-switch-when='varchar'>
                                                {{row[field.name] | limitTo: 50}}
                                            </h5>
                                            <h5 ng-switch-when="currency">
                                                {{row[field.name] | currency}}
                                            </h5>
                                            <h5 ng-switch-when="number">
                                                {{row[field.name] | number}}
                                            </h5>
                                            <button ng-switch-when="button">
                                                {{row[field.name]}}
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="dataTables_paginate paging_bootstrap_extended">
                                <div class="pagination-panel"> Page
                                    <a href="" ng-click="previousPage(page)" class="btn btn-sm default prev">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                    <input class="pagination-panel-input form-control input-sm input-inline input-mini"
                                           maxlenght="5" style="text-align:center; margin: 0 5px;" type="text" ng-model="page">
                                    <a href="" ng-click="nextPage(page, numberPages)" class="btn btn-sm default next">
                                        <i class="fa fa-angle-right"></i>
                                    </a> of
                                    <span class="pagination-panel-total">{{numberPages}}</span>
                                    <label><span class="seperator">|</span>
                                        View
                                        <select class="form-control input-xs input-sm input-inline" ng-model="rowsShowing" ng-change="filterChange(rowsShowing)">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="200">200</option>
                                        </select> records
                                    </label>
                                    <span class="seperator">|</span> Found total {{size}} records
                                </div>
                            </div>
                        </div>
                        <h5>.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>